.header { 
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #49111C;
    font-size: 3vw;
}

.header-icon {
    width: 3rem;
}

@media screen and (min-width: 700px) {
    .header {
        height: 5rem;
        font-size: 2vw;
        align-items: center;
        margin-bottom: 3rem;
    }
}