@import '../assets/styles/components/Contact.scss';
@import '../assets/styles/components/Header.scss';
@import '../assets/styles/components/Home.scss';
@import '../assets/styles/components/InterestsTab.scss';
@import '../assets/styles/components/Project.scss';
@import '../assets/styles/components/ProjectsContainer.scss';
@import '../assets/styles/components/Resume.scss';
@import '../assets/styles/components/SkillsContainer.scss';

body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  font-family: 'Titillium Web';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(92, 252, 132);
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width:10px;
}

body::-webkit-scrollbar-button:increment, body::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
}

body::-webkit-scrollbar-track {
  border-radius: 10px;  
}

a {
  text-decoration: none;
  color: rgb(180, 153, 255);
  transition: all .2s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: rgb(134, 237, 255);
  transform: scale(1.1);
}