@import '../assets/styles/components/Contact.scss';
@import '../assets/styles/components/Header.scss';
@import '../assets/styles/components/Home.scss';
@import '../assets/styles/components/InterestsTab.scss';
@import '../assets/styles/components/Project.scss';
@import '../assets/styles/components/ProjectsContainer.scss';
@import '../assets/styles/components/Resume.scss';
@import '../assets/styles/components/SkillsContainer.scss';
@import '../assets/styles/components/PersonalInfo.scss';

body {
  margin: 0px 5px 0px 5px;
  background-color: #dfc6cc;
  font-family: 'Titillium Web';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #49111C;
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width:10px;
}

body::-webkit-scrollbar-button:increment, body::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #43575f7e;
  border-radius: 20px;
  border: 1px solid #4F6D7A;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;  
}

a {
  text-decoration: none;
  color: #315ebe;
  transition: all .2s ease-in-out;
}

a:hover {
  text-decoration: none;
  transform: scale(1.1);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 700px) {
  

}