.contact {
    margin-top: 7rem;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: space-evenly;
}

.links {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}
