.contact {
    margin-top: 100px;
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: space-evenly;
}

.links {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}
